{% extends 'base.html.twig' %}

{% block title %}Galerijen van {{ member.name|lower|ucwords }} | Fotoclub Uitgeest{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            {% include 'members/_leftNav.html.twig' with {'members': members} %}
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            {% for gallery in member.galleries %}
                {% set firstImage = gallery.images|first %}
                <article class="row galerij">
                    <header class="col-xs-8 pull-right">
                        <h1><a class="text-right" href="{{ path('gallery_view', { galleryId: gallery.id }) }}" title="Bekijk de galerij">{{ gallery.name }}</a></h1>
                        <span class="small"><em>{{ gallery.images|length }} foto's</em></span>
                        <span class="user-content">{{ gallery.description|raw }}</span>
                    </header>
                    <section class="col-xs-3 pull-left">
                        <div class="imageHolder">
                            <a href="{{ path('gallery_view', {galleryId: gallery.id}) }}" title="Bekijk de galerij">
                                <img title="firstImage.title" src="{{ asset('/assets/images/original/' ~ firstImage.filename) | imagine_filter('gallery_thumb') }}">
                            </a>
                        </div>
                    </section>
                </article>
            {% endfor %}
        </div>
    </div>
{% endblock %}
